<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <link rel="stylesheet" href="https://www.linkedin.com/in/malu-zarov🏳%EF%B8%8F%E2%80%8D⚧%EF%B8%8F-2a0740125/">
        <img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/168570351/original/fe86a10c5f53958c74f92bb8befe4d0c3b6ee10c/do-html-css-javascript-ajax-reactjs-psd-html-jquery.png"></img>
    </div>
</body>
</html>

export default <body>
    
</body>